.Sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  z-index: 10;
  background-color: $color-primary;
  min-height: 100vh;
  font-size: 1.5rem;

  &__nav {
    display: flex;
    flex-direction: column;

    & li:first-of-type {
      list-style-type: none;
      text-decoration: none;
      padding: 2rem 3rem;
      transition: all 0.3s ease-out;

      &:hover {
        background-color: $color-gray;
        color: $color-white;
      }
    }
  }

  &-logo {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: $margin-medium !important;
    margin-top: 3rem;
    margin-left: 3rem;
  }

  &-home {
  }

  &-explore {
  }

  &-favorite {
  }

  &-author {
  }

  &-contact {
  }

  &__social {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    margin: 0 4rem 3rem 2rem;

    & > * {
      color: $color-black;
      padding: 0 1.5rem;
    }
  }
}

.active {
  background-color: $color-black;
  color: $color-white;
}
